@charset "UTF-8";

:root{
    --corprincpial: #0C0747; 
}

*{
    margin: 0px;
    padding: 0px;
}

@font-face {
    font-family: 'bebaneue';
    src: url('fontes/BebasNeue-Regular.ttf');
}


body{    
    background-color: var(--corprincpial);
}

header{
    background-color: var(--corprincpial);
    padding: 32px;
    max-width: 100%;
    min-width: 600px;
    font-weight: normal;
    border-radius: 0px 0px 16px 16px;
    box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.274);
    margin-bottom: 24px;
}

.caixaheader{
    position: relative;
    max-width: 940px;
    margin: 0 auto;
}


nav{
    position: absolute;
    top: 120px;
    right: 0;  
    padding: 16px;     
}

nav >a{
    color: white;
    font-family: 'bebaneue';
    font-size: 2em;
    margin-right: 60px;
    text-transform: uppercase;
    text-decoration: none; 
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.253);       
}

nav>a:hover{      
    font-weight: bolder;
    color: #1ED760;
    transition-duration: .2s;    
}

main{
    background-color: white;
    margin: auto;
    padding: 4px;
    min-width: 300px;
    max-width: 1000px;
    border-radius: 16px;
    box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.274);
}