@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
}


body{
    background-color: #0C0747;
    font-family: 'bebaneue'
}

header{
    background-color: #0C0747;
    padding: 32px;
    max-width: 100%;
    min-width: 600px;
    font-weight: normal;
}

.caixaheader{
    position: relative;
    max-width: 940px;
    margin: 0 auto;
}


nav{
    position: absolute;
    top: 145px;
    right: 0;  
    padding: 16px;    
}

nav >a{
    color: white;
    margin-right: 64px;
    text-transform: uppercase;
    text-decoration: none;        
}

nav>a:hover{      
    font-weight: bolder;
    transition-duration: .2s;    
}