@charset "UTF-8"

*{
    margin: 0px;
    padding: 0px;
}

@font-face {
    font-family: 'bebasneue';
    src: url('fontes/BebasNeue-Regular.ttf');
}

@font-face {
    font-family: 'roboto';
    src: url('fontes/RobotoCondensed-Light.ttf');
}

:root{
    --corprincipal: #0C0747; 
    
    --fontenav: 'bebaneue';
    --fontprincipal: 'roboto';
}

body{    
    background-color: var(--corprincipal);
    font-family: var(--fontprincipal);
}

.caixaheader{
    background-color: var(--corprincpial);    
    max-width: 100%;
    min-width: 600px;
    height: 220px;
    margin-bottom: 24px;
    font-weight: normal;
    border-radius: 0px 0px 16px 16px;
    box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.274);    
}

.logo{
    position: absolute;
    top: 8px;
    left: 220px ;
}

nav{
    position: absolute;
    top: 148px;
    right: 220px;
         
}

nav >a{
    color: white;
    font-family: 'bebasneue';
    font-size: 2em;
    margin-right: 20px;
    text-transform: uppercase;
    text-decoration: none; 
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.253);       
}

nav>a:hover{      
    font-weight: bolder;
    color: #1ED760;
    transition-duration: .2s;    
}

main{
    background-color: whitesmoke;
    max-width: 1000px;
    min-width: 600px;
    margin: auto;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.274);
    margin-bottom: 24px;
}

.sectionI, .sectionII{
    margin: auto;
    text-align: center;
}
.sectionI li{
    display: inline-block;
    text-align: center;
    width: 270px;
    height: 357px;
    vertical-align: top;    
    margin: 24px;
    border: 2px black solid;
    border-radius: 32px;
    box-sizing: border-box;    
}

.sectionII li{
    display: inline-block;
    text-align: center;
    width: 270px;
    height: 357px;
    vertical-align: top;    
    margin: 24px;
    border: 2px black solid;
    border-radius: 32px;
    box-sizing: border-box;    
}

aside{
    text-align: center;
}

.contato{
    width: 120px;
    float: left;
    margin: 0 20px 20px 0;
}

footer{
    width: 100%;
    height: 80px;
    color: whitesmoke;
    text-align: center;
    background-color: var(--corprincipal); 
         
}



.paragrafofooter{
    padding: 24px;
    margin: auto;
    width: 320px;
    font-family: var(--fontprincipal); 
    font-weight: 600;
}

/*verificar a responividade da logo quando tiver com a tela em 568px*/
