@charset "UTF-8"

*{
    margin: 0px;
    padding: 0px;
}

@font-face {
    font-family: 'bebasneue';
    src: url('fontes/BebasNeue-Regular.ttf');
}

@font-face {
    font-family: 'roboto';
    src: url('fontes/RobotoCondensed-Light.ttf');
}

:root{
    --corprincipal: #0C0747; 
    
    --fontenav: 'bebasneue';
    --fontprincipal: 'roboto';
}

body{    
    background-color: var(--corprincipal);
    font-family: var(--fontprincipal);
}

header{
    background-color: var(--corprincipal);    
    max-width: 100%;   
    min-width: 800px; 
    height: 260px;
    margin-bottom: 24px;
    font-weight: normal;
    border-radius: 0px 0px 16px 16px;
    box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.274);    
}

.logo{
    text-align: center;
    margin: auto;
}


nav{
   margin: auto;
   text-align: center;
         
}

nav >a{
    color: white;
    font-family: 'bebasneue';
    font-size: 2em;
    margin-right: 20px;
    text-transform: uppercase;
    text-decoration: none; 
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.253);       
}

nav>a:hover{      
    font-weight: bolder;
    color: #1ED760;
    transition-duration: .2s;    
}

main{
    background-color: whitesmoke;
    min-width: 600px;
    max-width: 800px;    
    margin: 24px auto;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.274);    
    font-family: var(--fontprincipal);
    font-weight: 400;
}

main p{
    margin: 16px;
    line-height: 1.6em;
    text-align: center;
}

.servicos{
    font-family: var(--fontenav);
    color: var(--corprincipal);
}
.linkp{
    font-family: var(--fontenav);
    font-weight: bolder;
    color: var(--corprincipal);
    text-decoration: none;
}

.linkp:hover{
    font-weight: 800;
    color: #1ED760;
    transition-duration: .2s;
}
.sectionI, .sectionII{
    margin: auto;
    text-align: center;
}
.sectionI li{
    display: inline-block;
    text-align: center;
    width: 270px;
    height: 357px;
    vertical-align: top;    
    margin: 24px;
    border: 2px var(--corprincipal) solid;
    border-radius: 32px;
    box-sizing: border-box;    
}

.sectionII li{
    display: inline-block;
    text-align: center;
    width: 270px;
    height: 357px;
    vertical-align: top;    
    margin: 24px;
    border: 2px var(--corprincipal) solid;
    border-radius: 32px;
    box-sizing: border-box;    
}


.mapa{
    background-color: var(--corprincipal);    
    padding: 20px;
    padding-bottom: 56%;
    margin-bottom: 24px;
    position: relative;
    border-radius: 10px;
}

div.mapa >iframe{
    position: absolute;
    top: 4%;
    left: 4%;
    right: 4%;
    bottom: 4%;
    width: 92%;
    height: 92%;
}


.revisao{
    text-align: center;
    background-color: #0C0747;   
    border-radius: 12px;
    padding: 16px;
    
}


footer{
    max-width: 100%;   
    min-width: 800px;
    height: 80px;
    color: whitesmoke;
    text-align: center;
    background-color: var(--corprincipal); 
    
         
}

aside{
    text-align: center;
    margin: auto;
    
}

aside > p,  .contato{
    color: whitesmoke;
    font-family: var(--fontenav);    
    line-height: 1.6em;
    text-decoration: none;
    text-align: center;
    padding: 4px;
    
}

.contato:hover{      
    font-weight: bolder;
    color: #1ED760;
    transition-duration: .2s;    
}

.imgcontato{
    top: 2px;
}

/*verificar a responividade da logo quando tiver com a tela em 568px*/

@media screen and (max-width: 587px){
    header{
        width: auto;
        height: 160px;
    }    

    .logo {
        text-align: center;
    }

   main{
    
    margin: 80px ;
   }

    ul{
       width: auto;
    }
    nav{
        text-align: center;
        position: static;
        
   }

 
}